@font-face {
	font-family: 'CursiveFont';
	src: url('../fonts/Caveat/Caveat-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'PrintFont';
	src: url('../fonts/Oswald-VariableFont_wght.ttf');
}

body {
	padding: 1%;
	font-size: 1.5em;
	font-family: 'PrintFont', Arial, sans-serif;
	position: relative;
	box-sizing: border-box;
	top: 80px;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	font-family: 'CursiveFont', cursive;
}

header {
	background-color: #466995;
	display: block;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
}

.content {
	padding: 20px;
}

p {
	font-size: 1em;
}

img {
	display: inline-block;
	height: auto;
	width: 300px;
	border: 3px solid black;
	margin: 10px;
	padding: 10px;
	border-radius: 50px;
}

.content img:hover {
	box-shadow: 0 0 20px 1px rgba(0, 140, 186, 0.5);
}


.content img:nth-child(2n+1) {
	border-radius: 0px;
	border: 3px dashed black;
}

h2 {
	font-size: 1em;
	font-weight: bold;
}

p, h1, h2 {
	padding: 10px;
}

nav li {
	padding: 10px;
	margin: 20px;
	width: 25%;
	text-align: center;
	display: inline-block;
	width: 20%;
}

nav li a {
	color: black;
	text-decoration: none;
}

nav li.active {
	text-transform: uppercase;
	font-weight: bold;
}